Chronocourses.Client/Service References/EntityService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EntityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Chronocourses.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntityService_GetEntitys_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntitys" />
  </wsdl:message>
  <wsdl:message name="IEntityService_GetEntitys_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntitysResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_addProductToContainer_InputMessage">
    <wsdl:part name="parameters" element="tns:addProductToContainer" />
  </wsdl:message>
  <wsdl:message name="IEntityService_addProductToContainer_OutputMessage">
    <wsdl:part name="parameters" element="tns:addProductToContainerResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_RemoveProductFromContainer_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProductFromContainer" />
  </wsdl:message>
  <wsdl:message name="IEntityService_RemoveProductFromContainer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProductFromContainerResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_RemoveAllProductsFromContainer_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAllProductsFromContainer" />
  </wsdl:message>
  <wsdl:message name="IEntityService_RemoveAllProductsFromContainer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAllProductsFromContainerResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_setContainer_InputMessage">
    <wsdl:part name="parameters" element="tns:setContainer" />
  </wsdl:message>
  <wsdl:message name="IEntityService_setContainer_OutputMessage">
    <wsdl:part name="parameters" element="tns:setContainerResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_GetEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_GetEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SaveEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SaveEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_AddEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_AddEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_DeleteEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_DeleteEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SaveEntitys_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEntitys" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SaveEntitys_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEntitysResponse" />
  </wsdl:message>
  <wsdl:portType name="IEntityService">
    <wsdl:operation name="GetEntitys">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/GetEntitys" message="tns:IEntityService_GetEntitys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/GetEntitysResponse" message="tns:IEntityService_GetEntitys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addProductToContainer">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/addProductToContainer" message="tns:IEntityService_addProductToContainer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/addProductToContainerResponse" message="tns:IEntityService_addProductToContainer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProductFromContainer">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/RemoveProductFromContainer" message="tns:IEntityService_RemoveProductFromContainer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/RemoveProductFromContainerResponse" message="tns:IEntityService_RemoveProductFromContainer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAllProductsFromContainer">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/RemoveAllProductsFromContainer" message="tns:IEntityService_RemoveAllProductsFromContainer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/RemoveAllProductsFromContainerResponse" message="tns:IEntityService_RemoveAllProductsFromContainer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setContainer">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/setContainer" message="tns:IEntityService_setContainer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/setContainerResponse" message="tns:IEntityService_setContainer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/GetEntity" message="tns:IEntityService_GetEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/GetEntityResponse" message="tns:IEntityService_GetEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/SaveEntity" message="tns:IEntityService_SaveEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/SaveEntityResponse" message="tns:IEntityService_SaveEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/AddEntity" message="tns:IEntityService_AddEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/AddEntityResponse" message="tns:IEntityService_AddEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/DeleteEntity" message="tns:IEntityService_DeleteEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/DeleteEntityResponse" message="tns:IEntityService_DeleteEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEntitys">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/SaveEntitys" message="tns:IEntityService_SaveEntitys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/SaveEntitysResponse" message="tns:IEntityService_SaveEntitys_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEntityService" type="tns:IEntityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEntitys">
      <soap:operation soapAction="http://tempuri.org/IEntityService/GetEntitys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProductToContainer">
      <soap:operation soapAction="http://tempuri.org/IEntityService/addProductToContainer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProductFromContainer">
      <soap:operation soapAction="http://tempuri.org/IEntityService/RemoveProductFromContainer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAllProductsFromContainer">
      <soap:operation soapAction="http://tempuri.org/IEntityService/RemoveAllProductsFromContainer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setContainer">
      <soap:operation soapAction="http://tempuri.org/IEntityService/setContainer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityService/GetEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityService/SaveEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityService/AddEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityService/DeleteEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEntitys">
      <soap:operation soapAction="http://tempuri.org/IEntityService/SaveEntitys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntityService">
    <wsdl:port name="BasicHttpBinding_IEntityService" binding="tns:BasicHttpBinding_IEntityService">
      <soap:address location="http://localhost:8732/Design_Time_Addresses/Chronocourses.Services/EntityService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>