Chronocourses.Client/Service References/EntityService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Chronocourses.Model" />
  <xs:element name="GetEntitys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="GetEntitysResult" nillable="true" type="q1:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProductToContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="product" nillable="true" type="q2:Product" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="ent" nillable="true" type="q3:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProductToContainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addProductToContainerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProductFromContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="product" nillable="true" type="q4:Product" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="ent" nillable="true" type="q5:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProductFromContainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveProductFromContainerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAllProductsFromContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="ent" nillable="true" type="q6:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAllProductsFromContainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveAllProductsFromContainerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="ent" nillable="true" type="q7:Entity" />
        <xs:element minOccurs="0" name="container" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setContainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setContainerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="GetEntityResult" nillable="true" type="q8:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="Entity" nillable="true" type="q9:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEntityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="Entity" nillable="true" type="q10:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEntityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="Entity" nillable="true" type="q11:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEntityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEntitys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEntitysResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>