Chronocourses.Manager/Service References/BrandService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrandService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Chronocourses.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBrandService_GetBrands_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBrands" />
  </wsdl:message>
  <wsdl:message name="IBrandService_GetBrands_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBrandsResponse" />
  </wsdl:message>
  <wsdl:message name="IBrandService_GetBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBrand" />
  </wsdl:message>
  <wsdl:message name="IBrandService_GetBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBrandResponse" />
  </wsdl:message>
  <wsdl:message name="IBrandService_SaveBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveBrand" />
  </wsdl:message>
  <wsdl:message name="IBrandService_SaveBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveBrandResponse" />
  </wsdl:message>
  <wsdl:message name="IBrandService_AddBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBrand" />
  </wsdl:message>
  <wsdl:message name="IBrandService_AddBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBrandResponse" />
  </wsdl:message>
  <wsdl:message name="IBrandService_DeleteBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBrand" />
  </wsdl:message>
  <wsdl:message name="IBrandService_DeleteBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBrandResponse" />
  </wsdl:message>
  <wsdl:portType name="IBrandService">
    <wsdl:operation name="GetBrands">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandService/GetBrands" message="tns:IBrandService_GetBrands_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandService/GetBrandsResponse" message="tns:IBrandService_GetBrands_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandService/GetBrand" message="tns:IBrandService_GetBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandService/GetBrandResponse" message="tns:IBrandService_GetBrand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandService/SaveBrand" message="tns:IBrandService_SaveBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandService/SaveBrandResponse" message="tns:IBrandService_SaveBrand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandService/AddBrand" message="tns:IBrandService_AddBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandService/AddBrandResponse" message="tns:IBrandService_AddBrand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandService/DeleteBrand" message="tns:IBrandService_DeleteBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandService/DeleteBrandResponse" message="tns:IBrandService_DeleteBrand_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBrandService" type="tns:IBrandService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBrands">
      <soap:operation soapAction="http://tempuri.org/IBrandService/GetBrands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrand">
      <soap:operation soapAction="http://tempuri.org/IBrandService/GetBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBrand">
      <soap:operation soapAction="http://tempuri.org/IBrandService/SaveBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBrand">
      <soap:operation soapAction="http://tempuri.org/IBrandService/AddBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBrand">
      <soap:operation soapAction="http://tempuri.org/IBrandService/DeleteBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrandService">
    <wsdl:port name="BasicHttpBinding_IBrandService" binding="tns:BasicHttpBinding_IBrandService">
      <soap:address location="http://localhost:8732/Design_Time_Addresses/Chronocourses.Services/BrandService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>