Chronocourses.Manager/Service References/ShopService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Chronocourses.Model" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetShops">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="GetShopsResult" nillable="true" type="q1:ArrayOfShop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="GetShopResult" nillable="true" type="q2:Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortestPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="shop" nillable="true" type="q3:Shop" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="startPos" nillable="true" type="q4:ArrayOfint" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="lP" nillable="true" type="q5:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortestPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetShortestPathResult" nillable="true" type="q6:ArrayOfArrayOfArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="shop" nillable="true" type="q7:Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveShopResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="moveEntityFromShop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="ent" nillable="true" type="q8:Entity" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="newPos" nillable="true" type="q9:ArrayOfint" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="shop" nillable="true" type="q10:Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="moveEntityFromShopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moveEntityFromShopResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="shop" nillable="true" type="q11:Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddShopResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="shop" nillable="true" type="q12:Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteShopResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="shop" nillable="true" type="q13:Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="GetEntityByPositionResult" nillable="true" type="q14:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByProductType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="typeProduct" nillable="true" type="q15:TypeProduct" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="shop" nillable="true" type="q16:Shop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByProductTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="GetProductsByProductTypeResult" nillable="true" type="q17:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>