Chronocourses.Manager/Service References/TypeProductService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Chronocourses.Model" />
  <xs:element name="GetTypeProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="GetTypeProductsResult" nillable="true" type="q1:ArrayOfTypeProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="GetTypeProductResult" nillable="true" type="q2:TypeProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTypeProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="typeProduct" nillable="true" type="q3:TypeProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTypeProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTypeProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="typeProduct" nillable="true" type="q4:TypeProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTypeProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTypeProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Chronocourses.Model" minOccurs="0" name="typeProduct" nillable="true" type="q5:TypeProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTypeProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>