Chronocourses.Manager/Service References/TypeProductService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TypeProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Chronocourses.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITypeProductService_GetTypeProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeProducts" />
  </wsdl:message>
  <wsdl:message name="ITypeProductService_GetTypeProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ITypeProductService_GetTypeProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeProduct" />
  </wsdl:message>
  <wsdl:message name="ITypeProductService_GetTypeProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeProductResponse" />
  </wsdl:message>
  <wsdl:message name="ITypeProductService_SaveTypeProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeProduct" />
  </wsdl:message>
  <wsdl:message name="ITypeProductService_SaveTypeProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeProductResponse" />
  </wsdl:message>
  <wsdl:message name="ITypeProductService_AddTypeProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTypeProduct" />
  </wsdl:message>
  <wsdl:message name="ITypeProductService_AddTypeProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTypeProductResponse" />
  </wsdl:message>
  <wsdl:message name="ITypeProductService_DeleteTypeProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTypeProduct" />
  </wsdl:message>
  <wsdl:message name="ITypeProductService_DeleteTypeProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTypeProductResponse" />
  </wsdl:message>
  <wsdl:portType name="ITypeProductService">
    <wsdl:operation name="GetTypeProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/ITypeProductService/GetTypeProducts" message="tns:ITypeProductService_GetTypeProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITypeProductService/GetTypeProductsResponse" message="tns:ITypeProductService_GetTypeProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypeProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ITypeProductService/GetTypeProduct" message="tns:ITypeProductService_GetTypeProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITypeProductService/GetTypeProductResponse" message="tns:ITypeProductService_GetTypeProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTypeProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ITypeProductService/SaveTypeProduct" message="tns:ITypeProductService_SaveTypeProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITypeProductService/SaveTypeProductResponse" message="tns:ITypeProductService_SaveTypeProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTypeProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ITypeProductService/AddTypeProduct" message="tns:ITypeProductService_AddTypeProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITypeProductService/AddTypeProductResponse" message="tns:ITypeProductService_AddTypeProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTypeProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ITypeProductService/DeleteTypeProduct" message="tns:ITypeProductService_DeleteTypeProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITypeProductService/DeleteTypeProductResponse" message="tns:ITypeProductService_DeleteTypeProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITypeProductService" type="tns:ITypeProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTypeProducts">
      <soap:operation soapAction="http://tempuri.org/ITypeProductService/GetTypeProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypeProduct">
      <soap:operation soapAction="http://tempuri.org/ITypeProductService/GetTypeProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTypeProduct">
      <soap:operation soapAction="http://tempuri.org/ITypeProductService/SaveTypeProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTypeProduct">
      <soap:operation soapAction="http://tempuri.org/ITypeProductService/AddTypeProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTypeProduct">
      <soap:operation soapAction="http://tempuri.org/ITypeProductService/DeleteTypeProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TypeProductService">
    <wsdl:port name="BasicHttpBinding_ITypeProductService" binding="tns:BasicHttpBinding_ITypeProductService">
      <soap:address location="http://localhost:8732/Design_Time_Addresses/Chronocourses.Services/TypeProductService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>